<a href="https://colab.research.google.com/github/chaeyeongSon/pdm09/blob/master/py-pandas/pandas_2_handling_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab



---

## [2] Handling DataFrame
- head()
- tail()
- describe()
- info()

In [ ]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20200928', periods=6)  # 2020-09-28부터 6일간의 날짜를 dates라는 변수에 저장한다.
dates

DatetimeIndex(['2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
               '2020-10-02', '2020-10-03'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# head()
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df.head() # DataFrame에 있는 5개의 행을 보여준다.

                   A         B         C         D
2020-09-28 -0.575482  0.655350  0.957043 -0.492131
2020-09-29  0.851061 -0.953022 -0.190944  0.399628
2020-09-30 -0.362120  0.266898 -0.848485  0.782454
2020-10-01 -0.379900 -1.410698 -0.422763  0.634358
2020-10-02  1.408231  1.255450 -1.037922 -0.849412

In [ ]:
df.head(3)  # DataFrame에 있는 초반 3개의 행을 보여준다.

                   A         B         C         D
2020-09-28 -0.575482  0.655350  0.957043 -0.492131
2020-09-29  0.851061 -0.953022 -0.190944  0.399628
2020-09-30 -0.362120  0.266898 -0.848485  0.782454

In [ ]:
df.tail(3)  # 끝에서 3개를 보여준다.

                   A         B         C         D
2020-10-01 -0.379900 -1.410698 -0.422763  0.634358
2020-10-02  1.408231  1.255450 -1.037922 -0.849412
2020-10-03  1.284745  1.442525 -0.272151  1.014011

In [ ]:
# Display the index, columns, and the underlying NumPy data:
df.index  # DataFrame의 index를 보여줌

DatetimeIndex(['2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
               '2020-10-02', '2020-10-03'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df.info() # DataFrame의 정보를 보여줌
          # 각각에 data가 들어있으면 non-null을 반환 data가 비어있으면 null을 반환한다.

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2020-09-28 to 2020-10-03
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [ ]:
# describe() shows a quick statistic summary of your data:
df.describe() # 각 열에 몇개의 data가 들어있는지, 평균을 얼마고 표준편차는 얼마인지 등을 알려줌

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.371089  0.209417 -0.302537  0.248151
std    0.909767  1.165584  0.700460  0.747902
min   -0.575482 -1.410698 -1.037922 -0.849412
25%   -0.375455 -0.648042 -0.742054 -0.269192
50%    0.244470  0.461124 -0.347457  0.516993
75%    1.176324  1.105425 -0.211246  0.745430
max    1.408231  1.442525  0.957043  1.014011

In [ ]:
df.columns  # 각 열의 title을 보여줌

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
# Transposing your dataframe:
df.T  # 행과 열이 바뀐다.
      # 행은 A, B, C, D로 열은 날짜로 바뀜

   2020-09-28  2020-09-29  2020-09-30  2020-10-01  2020-10-02  2020-10-03
A   -0.575482    0.851061   -0.362120   -0.379900    1.408231    1.284745
B    0.655350   -0.953022    0.266898   -1.410698    1.255450    1.442525
C    0.957043   -0.190944   -0.848485   -0.422763   -1.037922   -0.272151
D   -0.492131    0.399628    0.782454    0.634358   -0.849412    1.014011

In [ ]:
df.T.index  # 행과 열이 바뀜

Index(['A', 'B', 'C', 'D'], dtype='object')

### Sorting

#### Sort by index
- sort_index(axis=0, ascending=False)
- sort_index(axis=1, ascending=False)

> Axis=0 Column-Wise Operation (수직으로)

> Axis=1 Row-Wise Operation (수평으로)

In [ ]:
# Sorting by an axis:
df, df.sort_index(axis=0, ascending=False)  # default는 ascending이 True 과거~미래 ascending이 False면 미래~과거순

(                   A         B         C         D
 2020-09-28 -0.575482  0.655350  0.957043 -0.492131
 2020-09-29  0.851061 -0.953022 -0.190944  0.399628
 2020-09-30 -0.362120  0.266898 -0.848485  0.782454
 2020-10-01 -0.379900 -1.410698 -0.422763  0.634358
 2020-10-02  1.408231  1.255450 -1.037922 -0.849412
 2020-10-03  1.284745  1.442525 -0.272151  1.014011,
                    A         B         C         D
 2020-10-03  1.284745  1.442525 -0.272151  1.014011
 2020-10-02  1.408231  1.255450 -1.037922 -0.849412
 2020-10-01 -0.379900 -1.410698 -0.422763  0.634358
 2020-09-30 -0.362120  0.266898 -0.848485  0.782454
 2020-09-29  0.851061 -0.953022 -0.190944  0.399628
 2020-09-28 -0.575482  0.655350  0.957043 -0.492131)

In [ ]:
df,df.sort_index(axis=1, ascending=False) # 마찬가지로 ascending의 default 값은 True로 알파벳 순서대로, False면 알파벳 거꾸로순

(                   A         B         C         D
 2020-09-28 -0.575482  0.655350  0.957043 -0.492131
 2020-09-29  0.851061 -0.953022 -0.190944  0.399628
 2020-09-30 -0.362120  0.266898 -0.848485  0.782454
 2020-10-01 -0.379900 -1.410698 -0.422763  0.634358
 2020-10-02  1.408231  1.255450 -1.037922 -0.849412
 2020-10-03  1.284745  1.442525 -0.272151  1.014011,
                    D         C         B         A
 2020-09-28 -0.492131  0.957043  0.655350 -0.575482
 2020-09-29  0.399628 -0.190944 -0.953022  0.851061
 2020-09-30  0.782454 -0.848485  0.266898 -0.362120
 2020-10-01  0.634358 -0.422763 -1.410698 -0.379900
 2020-10-02 -0.849412 -1.037922  1.255450  1.408231
 2020-10-03  1.014011 -0.272151  1.442525  1.284745)

#### Sort by value
- sort_values(by='column')

In [ ]:
# Sorting by values:
df,df.sort_values(by='B') #, ascending=False) # B열을 기준으로 작은 값~큰 값 순으로 정렬됨

(                   A         B         C         D
 2020-09-28 -0.575482  0.655350  0.957043 -0.492131
 2020-09-29  0.851061 -0.953022 -0.190944  0.399628
 2020-09-30 -0.362120  0.266898 -0.848485  0.782454
 2020-10-01 -0.379900 -1.410698 -0.422763  0.634358
 2020-10-02  1.408231  1.255450 -1.037922 -0.849412
 2020-10-03  1.284745  1.442525 -0.272151  1.014011,
                    A         B         C         D
 2020-10-01 -0.379900 -1.410698 -0.422763  0.634358
 2020-09-29  0.851061 -0.953022 -0.190944  0.399628
 2020-09-30 -0.362120  0.266898 -0.848485  0.782454
 2020-09-28 -0.575482  0.655350  0.957043 -0.492131
 2020-10-02  1.408231  1.255450 -1.037922 -0.849412
 2020-10-03  1.284745  1.442525 -0.272151  1.014011)

## indexing and slicing of DataFrame

#### Selecting data by indexing and slicing
- indexing
- slicing

In [ ]:
df

                   A         B         C         D
2020-09-28 -0.575482  0.655350  0.957043 -0.492131
2020-09-29  0.851061 -0.953022 -0.190944  0.399628
2020-09-30 -0.362120  0.266898 -0.848485  0.782454
2020-10-01 -0.379900 -1.410698 -0.422763  0.634358
2020-10-02  1.408231  1.255450 -1.037922 -0.849412
2020-10-03  1.284745  1.442525 -0.272151  1.014011

In [ ]:
# Selecting a single column, which yields a Series
df['A'] # A열의 값만 출력됨

2020-09-28   -0.575482
2020-09-29    0.851061
2020-09-30   -0.362120
2020-10-01   -0.379900
2020-10-02    1.408231
2020-10-03    1.284745
Freq: D, Name: A, dtype: float64

### 그러면 열-A,B를 다 선택하려면?

In [ ]:
df[['A', 'B']] # df['A', 'B'] -> 에러 발생

                   A         B
2020-09-28 -0.575482  0.655350
2020-09-29  0.851061 -0.953022
2020-09-30 -0.362120  0.266898
2020-10-01 -0.379900 -1.410698
2020-10-02  1.408231  1.255450
2020-10-03  1.284745  1.442525

In [ ]:
# Selecting via [], which slices the rows.
df[0:3] # 행 0부터 2까지

                   A         B         C         D
2020-09-28 -0.575482  0.655350  0.957043 -0.492131
2020-09-29  0.851061 -0.953022 -0.190944  0.399628
2020-09-30 -0.362120  0.266898 -0.848485  0.782454

In [ ]:
df['20200928':'20201001'] # 인덱스가 아닌 값인 경우는 지정된 범위가 다 선택된다.

                   A         B         C         D
2020-09-28 -0.575482  0.655350  0.957043 -0.492131
2020-09-29  0.851061 -0.953022 -0.190944  0.399628
2020-09-30 -0.362120  0.266898 -0.848485  0.782454
2020-10-01 -0.379900 -1.410698 -0.422763  0.634358

#### Selecting data by label

> **loc, iloc**

In [ ]:
df

                   A         B         C         D
2020-09-28 -0.575482  0.655350  0.957043 -0.492131
2020-09-29  0.851061 -0.953022 -0.190944  0.399628
2020-09-30 -0.362120  0.266898 -0.848485  0.782454
2020-10-01 -0.379900 -1.410698 -0.422763  0.634358
2020-10-02  1.408231  1.255450 -1.037922 -0.849412
2020-10-03  1.284745  1.442525 -0.272151  1.014011

In [ ]:
dates[0]  # 2020-09-28

Timestamp('2020-09-28 00:00:00', freq='D')

In [ ]:
df.loc[dates[0]]   # loc() # 2020-09-28 날짜의 data가 나옴

A   -0.575482
B    0.655350
C    0.957043
D   -0.492131
Name: 2020-09-28 00:00:00, dtype: float64

In [ ]:
# Selecting on a multi-axis by label:
df.loc[:,['A','B']] # : - 전체 행, ['A', 'B'] - 열 A, B

                   A         B
2020-09-28 -0.575482  0.655350
2020-09-29  0.851061 -0.953022
2020-09-30 -0.362120  0.266898
2020-10-01 -0.379900 -1.410698
2020-10-02  1.408231  1.255450
2020-10-03  1.284745  1.442525

#### [도전코딩]

> Select data for first two days AND comumn 3,4 from df.

In [ ]:
df[0:2]

                   A         B         C         D
2020-09-28 -0.575482  0.655350  0.957043 -0.492131
2020-09-29  0.851061 -0.953022 -0.190944  0.399628

In [ ]:
# df.loc[0:2,['C','D']] # 에러 발생 - loc 함수는 Index를 쓰는 것이 아님
# df.loc['20200928':'20200929',['C','D']] # 주의 - 마지막을 20200930라고 하지 않는다
df.loc[dates[:2],['C','D']]

                   C         D
2020-09-28  0.957043 -0.492131
2020-09-29 -0.190944  0.399628

#### Selecting data by position (iloc())
- index 사용

In [ ]:
df

                   A         B         C         D
2020-09-28 -0.575482  0.655350  0.957043 -0.492131
2020-09-29  0.851061 -0.953022 -0.190944  0.399628
2020-09-30 -0.362120  0.266898 -0.848485  0.782454
2020-10-01 -0.379900 -1.410698 -0.422763  0.634358
2020-10-02  1.408231  1.255450 -1.037922 -0.849412
2020-10-03  1.284745  1.442525 -0.272151  1.014011

In [ ]:
df.iloc[3]  # 결과는 차원축소형으로 표현됨.

A   -0.379900
B   -1.410698
C   -0.422763
D    0.634358
Name: 2020-10-01 00:00:00, dtype: float64

In [ ]:
# [다시 도전]
# Select data for first two days AND comumn 3,4 from df.
# Use iloc
df.iloc[:2,2:4]

                   C         D
2020-09-28  0.957043 -0.492131
2020-09-29 -0.190944  0.399628

In [ ]:
# Select one item
df.iloc[1,1]  # 20200929, B

-0.9530217622757842

#### Selecting data by Boolean indexing

In [ ]:
df

                   A         B         C         D
2020-09-28 -0.575482  0.655350  0.957043 -0.492131
2020-09-29  0.851061 -0.953022 -0.190944  0.399628
2020-09-30 -0.362120  0.266898 -0.848485  0.782454
2020-10-01 -0.379900 -1.410698 -0.422763  0.634358
2020-10-02  1.408231  1.255450 -1.037922 -0.849412
2020-10-03  1.284745  1.442525 -0.272151  1.014011

In [ ]:
df[df.A > 0]  # A열 값이 0보다 큰 것들만 뽑아서 나옴

                   A         B         C         D
2020-09-29  0.064454  0.576990  0.288620  0.099795
2020-09-30  0.246634  1.160587  0.750102  0.939071
2020-10-01  1.114518  1.680180 -3.533937 -0.314434
2020-10-02  0.350298 -0.067793 -0.061537  0.512121

In [ ]:
df[df > 0]  # DataFrame에서 0보다 큰 값들만 표시가 되고 0보다 작은 값들은 NaN으로 처리가 됨

                   A         B         C         D
2020-09-28       NaN  0.655350  0.957043       NaN
2020-09-29  0.851061       NaN       NaN  0.399628
2020-09-30       NaN  0.266898       NaN  0.782454
2020-10-01       NaN       NaN       NaN  0.634358
2020-10-02  1.408231  1.255450       NaN       NaN
2020-10-03  1.284745  1.442525       NaN  1.014011